/* full body default attributes*/
/** {
	outline: 2px dotted red;
}*/

/*Logo*/

.logo{
	margin: 0;
}

.logo a{
	
 width: 306px;
 height: 154px;
 display:block;
 /*image replacement*/
 background-image: url(../images/logo.gif);
 text-indent: -999999px;
}
.HeaderLogos{
	 width: 930px;
	 margin: 0 auto;	
	 background: url(../images/headerspices.jpg) no-repeat right bottom;

}

.norepeat{
	background-repeat: no-repeat;
}

/*Parts*/

/*Navigation Container*/

	/*navigation bar*/

	.navContainer{
		background-color: #c1e492;


	}

	.navbar{
		padding-bottom: 10px;
		padding-top: 10px;
		/*display: inline;*/
		/*margin:0;*/
		width: 930px;
	 	margin: 0 auto
		
	}

	/*Navigation list links*/
	.navbar li{
		
		list-style: none;
		background-color: #c1e492;
		font-size: 1em;
		font-family: "Times New Roman";serif;
		padding: 10px 0px;
		display: inline;
		margin-right: auto;
		margin-left: auto;

	}


/*.backgroun-image{*/

		/*width: 930px;*/
	 	/*margin: 0 auto*/
	 	


	/*}*/

/*Market Leader Container*/

.MarketLeader{

		margin-top: none;
		margin-right: auto;
		margin-left: auto;
	 	background-image: url(../images/homespices.jpg);
	 	background-image: no-repeat;

}
	
/*Main Header Title Conatiner*/

	.MarketLeader h1{
		
		font-size: 1.38em 1.75em;
		color:#fff;
		margin-top: 0;
		margin-bottom: 10px;

	}

	.MarketH{
		font-size: 1.38em 1.75em;
		color:#fff;
		width: 400px;
		padding:0;

	}



	/*Main Header Description Paragraph Conatiner*/
    .MarketLeader p{
		font-size: 1em;
		color:#333;
		margin-top:0;
		


    }

    .MarketP{
    	background-color: #fff;
    	width: 415px;
    	margin:0;
    	position: center;
    	padding: 15px;

    }

.marketWrapper{

	width: 930px;
	padding:15px;
	margin: 0 auto


}
/* Basic Styles of body*/
body {
	
	font-size: 1em;
	font-family: "Times New Roman", serif;
	font-color:default;
	margin: 0;/*eliminates automatic margins on page*/
	
}
/* changed the color of headings "In the News" and "Featured Product"*/
h2{
	color:#002f1b;
}
/*changed the color of headings "Outlander Curry.." "Can Spice.." and "New Outlander..."*/
h3{
	color:#00743d;
	text-decoration: underline;

}

/*copyright footer*/
.copyright{
	 background-color:#00743d;
	 font-size: 0.8em;
	 color:#fff;
	 padding: 10px;
	 padding-bottom:10px;
	 /*margin-right: auto;
	 margin-left: auto;*/
}
